<a href="https://colab.research.google.com/github/nisa162/khairunnisa/blob/main/datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd
df = pd.read_csv("/content/drive/My Drive/Dataset/heart.csv")
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
df2 = df[(df['age']>40)&(df['age']<50)]
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
280,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0

In [10]:
x = df.iloc[:, 0:13]
y = df.iloc[:, 13]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.1)
y_train

97     1
283    0
75     1
52     1
261    0
      ..
235    0
37     1
45     1
273    0
302    0
Name: target, Length: 272, dtype: int64

In [14]:
from sklearn.svm import SVC
clf = SVC()
clf = clf.fit (x_train, y_train)
y_pred = clf.predict (x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred, y_test))

0.7419354838709677